<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".login.ui.LoginActivity" android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".profile.ui.page.EditProfileActivity" android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".profile.ui.page.SettingProfileActivity" android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".profile.ui.page.FavoritePostActivity" android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".profile.ui.CropSelectActivity" android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".login.ui.ModeSelectActivity" android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
    </application>
</manifest>
