<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.main.HomeActivity" android:exported="false"/>
        <!-- 高德地图 API Key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a3d1090ed028808b95396d5875f2c685" />
        <!-- 高德地图定位服务 -->
        <service android:name="com.amap.api.location.APSService" />
    </application>
</manifest>
